[project]
name = "example-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "django>=4.2",
    "govuk-onelogin-django>=0.4.0",
    "pydantic-settings>=2.7.0",
]
