# Followed this: https://docs.astral.sh/uv/guides/integration/github/#publishing-to-pypi
name: "Publish"

on:
  push:
    tags:
      # Publish on any tag matching semver release tag e.g. 1.1.3
      # Enclose pattern in quotes as * is a special character in YAML
      - "*.*.*"

jobs:
  run:
    runs-on: ubuntu-latest
    environment:
      name: pypi
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install Python 3.13
        run: uv python install 3.13
      - name: Build
        run: uv build --no-sources
      - name: Publish
        run: uv publish
